/* Scss Document */
.btn-play {
  background: url("btns/'+$name+'.svg") no-repeat;
  background-size: cover; }

.btn-pause {
  background: url("btns/'+$name+'.svg") no-repeat;
  background-size: cover; }

.btn-stop {
  background: url("btns/'+$name+'.svg") no-repeat;
  background-size: cover; }

.btn-restart {
  background: url("btns/'+$name+'.svg") no-repeat;
  background-size: cover; }

.btn-mute {
  background: url("btns/'+$name+'.svg") no-repeat;
  background-size: cover; }

.btn-unmute {
  background: url("btns/'+$name+'.svg") no-repeat;
  background-size: cover; }

.btn-fullscreen-enter {
  background: url("btns/'+$name+'.svg") no-repeat;
  background-size: cover; }

.btn-fullscreen-exit {
  background: url("btns/'+$name+'.svg") no-repeat;
  background-size: cover; }
