/* Scss Document */
@function char($character-code) {
  @if function-exists("selector-append") {
    @return unquote("\"\\#{$character-code}\"");
  }

  @return str-slice("\x", 1, 1) + $character-code;
}
$player-btns: (
		play: 'play-circle',
		pause: 'pause-circle',
		stop:'stop-circle',
		restart:'undo-alt',
		captions:'closed-captioning',
		captions-off:'captioning',
		mute: 'volume-mute',
		unmute: 'volume-up',
		bookmark: 'bookmark',
		fullscreen-enter: 'expand-alt',
		fullscreen-exit: 'compress-alt'
);
@each $name, $img in $player-btns {
	.btn-#{$name}{
        background: url("btns/#{$img}-regular.svg") no-repeat;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        filter: drop-shadow(1px 1px $dark); 
      &:hover {
          opacity: .7;
        filter: drop-shadow(0 1px $dark);
      }
	}
}
@each $name, $img in $player-btns {
	.btn-white-#{$name}{
        background: url("btns/#{$img}-white.svg");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        filter: drop-shadow(1px 1px $black);
      &:hover {
          opacity: .7;
        filter: drop-shadow(0 1px $black);
      }
	}
}