/* Scss Document */
@function char($character-code) {
  @if function-exists("selector-append") {
    @return unquote("\"\\#{$character-code}\"");
  }

  @return str-slice("\x", 1, 1) + $character-code;
}
$player-btns: (
		play: 'play-circle',
		pause: 'pause-circle',
		stop:'stop-circle',
		restart:'undo-alt',
		mute: 'volume-mute',
		unmute: 'volume-up',
		fullscreen-enter: 'expand-alt',
		fullscreen-exit: 'compress-alt'
);
@each $name, $img in $player-btns {
	.btn-#{$name}{
        background: url("btns/#{$img}-regular.svg") no-repeat;
        background-size: contain;
        cursor: pointer;
	}
}