/* Scss Document */
/*Slider*/
input[type=range] {
  -webkit-appearance: none;
  margin: 1rem 0;
  width: 100%;
    background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height:.5rem;
  cursor: pointer;
  box-shadow: 1px 1px 1px $dark, 0px 0px 1px $primary;
  background: $primary;
  border-radius: 1.3px;
  border: 0.2px solid $light;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $secondary;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height:.5rem;
  cursor: pointer;
  box-shadow: 1px 1px 1px $dark, 0px 0px 1px $primary;
  background: $primary;
  border-radius: 1.3px;
  border: 0.2px solid $light;
}
input[type=range]::-ms-track {
  width: 100%;
  height:.5rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 1rem 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid $light;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px $dark, 0px 0px 1px $primary;
}
input[type=range]::-ms-fill-upper {
  background: $primary;
  border: 0.2px solid $light;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px $dark, 0px 0px 1px $primary;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px $dark, 0px 0px 1px $primary;
  border: 1px solid $dark;
  height: 100%;
  width: .75rem;
  border-radius: 3px;
  background: $light;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px $dark, 0px 0px 1px $primary;
  border: 1px solid $dark;
  height: 100%;
  width: .75rem;
  border-radius: 3px;
  background: $light;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px $dark, 0px 0px 1px $primary;
  border: 1px solid $dark;
  height: 100%;
  width: .75rem;
  border-radius: 3px;
  background: $light;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $primary;
}
input[type=range]:focus::-ms-fill-upper {
  background: $secondary;
}
